# Virtual environment
venv/
venv10/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django logs
*.log

# Database files
*.sqlite3

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Database backups
backups/
*.sql
*.json

# Media files
media/

# Django
*.log
local_settings.py
db.sqlite3
media/