{% extends 'plantation/base.html' %}
{% load form_extras %}


{% block title %}Login{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 500px; background-color: rgb(213, 249, 215); width: 70%; border: 1px solid grey;">
    <div class="card p-4" style="max-width: 400px; width: 100%; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h2 class="text-center mb-4">Plantation |  <i>OwnerLogin</i></h2>
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                {{ form.username|add_class:"form-control" }}
            </div>

            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                {{ form.password|add_class:"form-control" }}
            </div>

            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </div>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'homepage' %}" class="text-decoration-none text-muted">Back to Homepage</a>
        </div>
    </div>
</div>
{% endblock %}
