{% extends 'plantation/base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<h2>Plantation Search</h2>

<!-- Search Box -->

<input type="text" id="searchBox" placeholder="Search plantations..." />
<div id="resultsContainer"></div>

<!-- Plantation Table -->
<table id="plantation-table">
    <thead>
        <tr>
            <th>Sl No.</th>
            <th>Plant Name</th>
            <th>Owner Name</th>
        </tr>
    </thead>
    <tbody>
        {% for plantation in plantations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'plantation_details' plantation.id %}">{{ plantation.name }}</a></td>
                <td><a href="{% url 'owner_details' plantation.owner.username %}">{{ plantation.owner.username }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
